.base {
  @apply flex flex-col mx-auto;
  @apply relative;
  @apply z-0;
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,0.22) 0%, rgba(0,225,198,0.2511379551820728) 50%, rgba(255,255,255,1) 100%);
}

.text {
  @apply flex flex-col;
  @apply max-w-lg;
  @apply items-center justify-center;
  @apply mx-auto;
}

.text > h1 {
  @apply pt-12;
  @apply mt-12;
}

.text > span {
  @apply pt-4 pb-12;
  @apply text-2xl;
  line-height: 38px;
}

h1 {
  font-weight: 900;
  font-size: 72px;
}

.buttonList {
  @apply flex flex-row gap-4;
  @apply max-w-md;
  @apply mx-auto;
}

.image {
  @apply flex;
  @apply pt-4;
  @apply items-center;
  @apply justify-center;
  @apply mx-auto;
  @apply z-10;
}

.shape {
  @apply block;
}

.shape > img:first-child {
  @apply absolute;
  @apply left-0 top-96;
  @apply -z-10;
}

.shape > img:last-child {
  @apply absolute;
  @apply right-0;
  @apply -z-10;
}