.base {
  @apply flex flex-row gap-32;
  @apply items-start justify-center;
  @apply py-24;
  background: rgb(233,250,255);
  background: linear-gradient(0deg, rgba(233,250,255,0) 0%, rgba(233,250,255,1) 100%);
}

.wrapper {
  @apply container mx-auto flex flex-row gap-32;
  @apply items-start justify-center;
}

.content {
  @apply flex flex-col gap-4;
  @apply text-[#20262A];
  @apply max-w-lg;
}

.content > p {
  @apply text-[38px] text-left;
  line-height: 42px;
  font-weight: 450;
}

.getStarted {
  @apply flex flex-col;
  @apply text-[#5C5C5C];
  @apply items-start;
  @apply max-w-2xl;
}

.getStarted > p {
  @apply text-[19px];
  line-height: 30px;
  font-weight: 450;
  @apply text-left;
}

.getStarted > :nth-child(2) {
  @apply mt-[20px];
}
